@model Maybank.DomainModelEntity.Entities.BankAccount

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.AccountType)
        </td>
        <td>
            @Html.DisplayFor(model => model.AccountNo)
        </td>
        <td>
            @Html.DisplayFor(model => model.AccountBalance)
        </td>
        <td>
            @Html.DisplayFor(model => model.Bank)
        </td>
    </tr>
</table>
