@model Maybank.Web.ViewModels.VMLogin

@{
    Layout = "/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Login</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                        @Html.ActionLink("Register Now", "Register")
                    </div>
                </div>
            </div>
        </div>
        if (ViewBag.RegisterMsg != null)
        {
            <p class="text-info" id="RegisterMsg">@ViewBag.RegisterMsg</p>
        }
    }

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert" id="LoginMsg">
            @ViewBag.ErrorMessage
            <br />
            @ViewBag.ErrorMessage2
        </div>
    }


</body>
</html>

<script>

    $(document).ready(function () {

        setTimeout(function () { $('#RegisterMsg').fadeOut(); }, 3000);

        setTimeout(function () { $('#LoginMsg').fadeOut(); }, 3000);

        setTimeout(function () { $('#LoginMsg2').fadeOut(); }, 3000);
    });



</script>