@model IEnumerable<Maybank.DomainModelEntity.Entities.BankTransaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransferMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransferMode)
            </td>
            <td>
                @Html.DisplayFor(momodelItemdel => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionAmount)
            </td>
        </tr>
    }
</table>
